#page
{
    width: 1220px;
    height: 1200px;
    font-size: 14pt;
    font-family: "Times New Roman", Times, serif; 
    text-align: center;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
#up{
    width: 1200px;
    height: 190px;
    background-color: brown;
    padding: 10px;
    margin-bottom: 20px;
}
#sideblock{
    width: 240px;
    height: 820px;
    padding: 10px;
    background-color: aquamarine;
    float: right;
}
#centerblock{
    width: 660px;
    height: 820px;
    padding: 10px;
    background-color: orange;
    text-align:left; 
}
#bottom{
    width: 1220px;
    height: 190px;
    padding: 10px;
    background-color: greenyellow;
    margin-top: 20px;
}
#img{
    margin-top: 10px;
    margin-left:10px;
    width: 95%;
}