{% extends 'base.tmpl' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Ювсюк Юрій Миколайович</h1>
<h4>Студент групи ІНМ-18</h4>

<img width=80% src="https://images.prom.ua/2190888138_w640_h640_prapor-ukrayini.jpg">

<ol>
  <li>Студент</li>
  <li>групи</li>
  <li>ІНМ-18</li>
</ol>

</body>
</html>
{% endblock content %}